.subscribe_flex {
    display: flex;
    height: 440px;
    background-image: url(img/footer/surfer.png);
    justify-content: space-between;
}
.girl {
    display: block;
    width: 83px;
    height: 83px;
    margin-top: 100px;
    margin-left:100px;
    padding-right: 28px;
}
.subscribe_flex_left {
    display: flex;
}
.subs_text {
    width: 368px;
    font-family: Lato;
    font-size: 16px;
    font-style: italic;
    color: #222224;
    margin-top: 110px;
}

.subscribe_flex_right {
    margin-top: 148px;
    margin-right: 150px;
}
.newsletter {
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    text-transform: capitalize;
    color: #222224;
}
.name {
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    color: #f16d7f;
    margin-top: 20px;
    
}
.prof {
font-size: 12px;
font-style: normal;
}
.subscribe_slider {
    display: flex;
    margin-top: 10px;
}
.subscribe_slider__item {
    height: 4px;
    width: 38px;
    background-color:#e1e1e1;

}
.colored__item {
    background-color: #f16d7f;
}

.subscription {
margin-top: 35px;
display: flex;
}

.email {
    display: block;
    padding: 15px 0 15px 15px;
    background-color: #e1e1e1;
    margin-left: 15px;
    border-radius: 23px 0 0 23px;
    box-sizing: border-box;
}
.subscribe_button {
    display: block;
    padding: 15px 20px 15px 21px;
    background-color: #e1e1e1; 
    margin-right: 20px;
    border-radius:0 23px 23px 0 ;
    box-sizing: border-box;
    transition: 0.8s;
    
    
}
.subscribe_button:hover {
    color:#fff;
    background-color:#f16d7f;
}